####################################

<%= form_tag routines_path %>

  <%= label_tag "routine[name]", "Routine Name" %>
  <%= text_field_tag "routine[name]" %><br />

    <% 2.times do |n| %>
  
      <fieldset id="exercises">
        <div class="exercise">
          <%= select("[lifts][][#{n}]", "exercise_id", Exercise.all.collect {|p| [ p.name, p.id] }) %>
          <button class="remove">remove exercise</button>
        </div>
      </fieldset>

      <button id="add_exercise">add exercise</button>
    
    <% end %>
  
<%= submit_tag "Submit Routine" %>

<script>
  //Clone and Remove Form Fields

$('#add_exercise').on('click', function() { 
    $('#exercises').append('<div class="exercise">
          <%= select("[lifts][][#{n}]", "exercise_id", Exercise.all.collect {|p| [ p.name, p.id] }) %>
          <button class="remove">remove exercise</button>
        </div>');
    return false; //prevent form submission
});

$('#exercises').on('click', '.remove', function() {
    $(this).parent().remove();
    return false; //prevent form submission
});
</script>

######################################