####################################

<%= form_tag routines_path %>

  <%= label_tag "routine[name]", "Routine Name" %>
  <%= text_field_tag "routine[name]" %><br />


  
      <fieldset id="exercises">
        <div class="exercise">
          <div class="ui-widget">
            <%= text_field_tag "[lifts][][#{n}][exercise_id]", nil, :placeholder => "Choose Exercise", id: "exercise" %>
          </div>
          <button class="remove">remove exercise</button>
        </div>
      </fieldset>

      <button id="add_exercise">add exercise</button>
  

  
<%= submit_tag "Submit Routine" %>

<script>

var exercises = $('#exercises').html();

$('#add_exercise').on('click', function() { 
  
$('#exercises').append(exercises); 
    return false; //prevent form submission
});

$('#exercises').on('click', '.remove', function() {
    $(this).parent().remove();
    return false; //prevent form submission
});

var availableExercises = [
      <% Exercise.all.each do |exercise| %>
      '<%= exercise.name %>',
      <% end %>
    ];

  $("#exercise").autocomplete({
    source: availableExercises
  });

</script>





<!-- <div class="exercise">
          <select id="_lifts__0_exercise_id" name="[lifts][][0][exercise_id]"><option value="1">Squat</option>
<option value="2">Deadlift</option>
<option value="3">Bench Press</option>
<option value="4">Calf Raise</option>
<option value="5">Dips</option>
<option value="6">Pullups</option>
<option value="7">Glute Ham Raise</option></select>
          <button class="remove">remove exercise</button>
        </div> -->
######################################