<%= form_tag routines_path %>

  <%= label_tag "routine[name]", "Routine Name" %>
  <%= text_field_tag "routine[name]" %><br />

  <%= label_tag "routine[date]", "Date" %>
  <%= text_field_tag "routine[date]", nil, id: "date" %><br />

  <%= label_tag "routine[tag_list]", "Tags (separated by commas)" %>
  <%= text_field_tag "routine[tag_list]" %><br />

  <%= label_tag "routine[bodyweight]", "Current Bodyweight" %>
  <%= text_field_tag "routine[bodyweight]" %><br />

  
      <fieldset id="exercises">
        <div class="exercise">
          <div class="ui-widget">
            <input data-n="0" type="text" name="[lifts][][0][exercise_name]" placeholder="Choose Exercise" class="ex">
            <button class="remove_exercise">x</button>
            <input type="checkbox" name="[lifts][][0][bodyweight_exercise]" value="yes">Bodyweight Exercise?<br>
          </div>
          <span class="infos">
            <%= text_field_tag "[lifts][][0][infos][][weight]", nil, :placeholder => "Weight"%>
            <%= text_field_tag "[lifts][][0][infos][][repetition]", nil, :placeholder => "Repetitions" %>
            <button class="remove_set">x</button> | <button class="add_set">+</button><br />
          </span>
        </div>
      </fieldset>

      <button id="add_exercise">Add Exercise</button><br />
  

  
<%= submit_tag "Submit Routine" %>

<script>
$(function() {

  $( "#date" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });

  var n = 0;

  $('#add_exercise').on('click', function() { 

    //n += 1;  

    var exercises = $(' <div class="exercise"> \
          <div class="ui-widget"> \
            <input data-n="'+(n+=1)+'" type="text" name="[lifts][]['+n+'][exercise_name]" placeholder="Choose Exercise" class="ex"><button class="remove_exercise">x</button><input type="checkbox" name="[lifts][]['+n+'][bodyweight_exercise]" value="yes">Bodyweight Exercise?<br> \
          </div> \
          <span class="infos"> \
            <input type="text" name="[lifts][]['+n+'][infos][][weight]" placeholder="Weight"> \
            <input type="text" name="[lifts][]['+n+'][infos][][repetition]" placeholder="Repetitions"> \
            <button class="remove_set">x</button> | <button class="add_set">+</button><br /> \
          </span> \
        </div>');


    $('#exercises').append(exercises);
    return false; //prevent form submission
  });

  $('#exercises').on('click', '.add_set', function() {

    var num = $(this).parent().parent().find('.ex').data('n');


    var sets = $('<span class="infos"> \
            <input type="text" name="[lifts][]['+num+'][infos][][weight]" placeholder="Weight"> \
            <input type="text" name="[lifts][]['+num+'][infos][][repetition]" placeholder="Repetitions"> \
            <button class="remove_set">x</button> | <button class="add_set">+</button><br /> \
          </span>');

    $(this).parent().parent().append(sets);
    return false;

  });

  $('#exercises').on('click', '.remove_exercise', function() {
      $(this).parent().next().remove();
      $(this).parent().remove();
      return false; //prevent form submission
  });

   $('#exercises').on('click', '.remove_set', function() {
      $(this).parent().remove();
      return false; //prevent form submission
  });

  var availableExercises = [
        <% Exercise.all.each do |exercise| %>
        '<%= exercise.name %>',
        <% end %>
      ];

  $('#exercises').on('keydown.autocomplete', '.ex', function() {
    $(this).autocomplete({source: availableExercises});
  });

});
</script>