<h1>Listing routines</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @routines.each do |routine| %>
  <tr>
    <td><%= routine.name %> - <%= routine.date %></td>
    <td><%= link_to 'Show', routine, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_routine_path(routine), class: 'btn-small' %></td>
    <td><%= link_to 'Destroy', routine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Routine', new_routine_path, class: 'btn' %>
<%= link_to 'Stats', user_path(1), class: 'btn' %>
