<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @routine.user.name %><br />
  <%= @routine.name %><br />
  <%= @routine.date %>
</p>
<p>
  <ul>
  <% @routine.lifts.each do |lift| %>
  <li><%= lift.exercise.name %></li>
    <ul>
      <% lift.infos.each do |set| %>
        <li><%= set.weight %> <%= set.repetition %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

###################################
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Exercises', 'Sales', 'Expenses'],
          ['Bench',  1000,      400],
          ['Deadlift',  1170,      460],
          ['Dips',  660,       1120],
          ['Chins',  1030,      540]
        ]);

        var options = {
          title: 'Your Workout',
          hAxis: {title: 'Exercises'},
          vAxis: {title: 'Total Weight'}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
###################################
<br />

<%= link_to 'See Stats', user_path(@routine.user.id) %> |
<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
