<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @routine.name %>
</p>
<p>
  <ul>
  <% @routine.exercises.each do |exercise| %>
  <li><%= exercise.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
