<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @routine.user.name %><br />
  <%= @routine.bodyweight %><br />
  <%= @routine.name %><br />
  <%= @routine.date %>
</p>

<div id="chart_div"></div>
<script>
  $(function() {
    $("#accordion").accordion({
      fluid: true,
    });
  });
</script>


<div id="accordion">
  <% @routine.lifts.each do |lift| %>
  <h3><%= lift.exercise.name %></h3>
  <div>
    <p>
      <% lift.infos.each do |set| %>
        Set <li> Weight: <%= set.weight %> Reps: <%= set.repetition %><br />
      <% end %>
    </p>
  </div>
  <% end %>
</div>

  <script>window.graph = <%= raw @graph %>
          window.args = <%= raw @routine.final_tooltip %>
  </script>
<br />

<%= link_to 'See Stats', user_path(@routine.user.id) %> |
<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Home', routines_path %> | 
<%= link_to "Newsfeed", activities_path %>







