<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @routine.user.name %><br />
  <%= @routine.bodyweight %><br />
  <%= @routine.name %><br />
  <%= @routine.date %>
</p>
<p>
  <ul>
  <% @routine.lifts.each do |lift| %>
  <%= lift.exercise.name %>
    <ul>
      <% lift.infos.each do |set| %>
        Set <ul>Weight: <%= set.weight %> Reps: <%= set.repetition %></ul><br />
      <% end %>
    </ul>
  <% end %>
</ul>

###################################

  <div id="chart_div" style="width: 900px; height: 500px;"></div>

  <script>window.graph = <%= raw @graph %></script>

###################################
<br />

<%= link_to 'See Stats', user_path(@routine.user.id) %> |
<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Home', routines_path %>







