<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @routine.user.name %><br />
  <%= @routine.name %><br />
  <%= @routine.date %>
</p>
<p>
  <ul>
  <% @routine.lifts.each do |lift| %>
  <li><%= lift.exercise.name %></li>
    <ul>
      <% lift.infos.each do |set| %>
        <li><%= set.weight %> <%= set.repetition %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

###################################

  <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>
      window.graph = <%= raw @graph %>;
    </script>

    <script src="/assets/routines.js"></script>

###################################
<br />

<%= link_to 'See Stats', user_path(@routine.user.id) %> |
<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
