<h1>Activities</h1>

<% @activities.each do |activity| %>
  <div class='activity yes'>
    <% if activity.trackable_type == "Exercise" %>
      <% if activity.owner %>
        <%= activity.owner.email %>
        added <%= link_to activity.trackable.name, exercise_path(activity.trackable.id) %> as an <%= link_to activity.trackable_type, exercises_path %>
      <% else %>
        <%= link_to activity.trackable.name, exercise_path(activity.trackable.id) %> was added as an <%= link_to activity.trackable_type, exercises_path %> 
      <% end %> 
    <% else %>
      <% if activity.owner %>
        <%= activity.owner.email %>
        added a new <%= activity.trackable_type %> called <%= link_to activity.trackable.name, routine_path(activity.trackable.id) %>
      <% else %>
        A new <%= activity.trackable_type %> called <%= link_to activity.trackable.name, routine_path(activity.trackable.id) %> was added
      <% end %>
    <% end %> 
  </div>
<% end %>
